{% extends './base.html' %} 
{% block title %}
Buscar  restaurante
{% endblock %}
{% block body %}
{% include './nav.html' %}
<div class="container mt-5"> _ </div>
<div class="container mt-5">
<!--
Center the image
-->
    <div class="d-flex justify-content-center">
        <img src="../static/img/not_page.png" class="img-fluid align-self-center" alt="Página no encontrada">
    </div>
    <h2 class="text-center">Error de servidor</h2>
    <p class="text-center">Lo sentimos hubo un error en el servidor, estamos trabajando en solucionarlo</p>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="/" class="btn btn-primary">Regresar al index</a>
    </div>  
</div>


{% endblock %}