{% extends './base.html' %}
{% block title %}
Monchi
{% endblock %}

{% block body %}
{% include './nav.html' %}
<main class="form-signin w-100 m-auto">
    <form method="post" action="">
      <img class="mb-4" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.sosfactory.com%2Fes%2Fportfolio_page%2Flogotipo-restaurante-mrbolat%2F&psig=AOvVaw21-ngnFm73k7Nm0Z0zxqUN&ust=1679869136985000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCMjzuKuO-P0CFQAAAAAdAAAAABAE" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">MONCHI</h1>
  
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="Nombre de restaurante" name="restaurant_name">
        <label for="floatingInput">Restaurnate</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Buscar</button>
    </form>
  </main>
{% endblock %}