{% extends './base.html' %}
{% block title %}
Monchi
{% endblock %}

{% block body %}
{% include './nav.html' %}
<main class="form-signin w-100 m-auto">
    <form method="post" action="">
      <center class="align-items-center m-5">
        <img class="mb-4" src="{{url_for('static', filename='img/monchi.png')}}" alt="" width="200">
        <h1 class="h3 mb-3 fw-normal">MONCHI</h1>

        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="Nombre de restaurante" name="restaurant_name">
          <label for="floatingInput">Restaurnate</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Buscar</button>
      </center>
    </form>
  </main>
{% endblock %}