<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="{{url_for('static', filename='img/monchi.png')}}" alt="" width="40" height="40" class="d-inline-block align-text-top">
          MONCHI
      </a>
      <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Restaurante" aria-label="Search">
          <button class="btn btn-outline-danger" type="submit">Buscar</button>
      </form>
  </div>
</nav>