
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>MONCHI<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Restaurantes</a></li>
          <li><a href="#about">¿Quiénes Somos?</a></li>
          
        </ul>
        <!-- Bootstrap searchbar -->
      </nav><!-- .navbar -->
      <form class="d-flex">
        <div class="position-relative">
          <input class="form-control me-2" type="search" placeholder="Restaurante" aria-label="Search" id="find_field">
          <div id="result_list" class="dropdown-menu"></div>
        </div>
        <button class="btn btn-outline-danger" id="buscar" type="button">Buscar</button>
      </form>

      <!-- <a class="btn-book-a-table" href="#book-a-table">Book a Table</a> -->
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->