{% extends './base.html' %} 
{% block title %}
Requests
{% endblock %}
{% block body %}
{% include './nav.html' %}
<div class="container mt-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Ultima actualización</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr>
                <td>{{request.name}}</td>
                <td>{{request.date}}</td>
                <td>
                    <a href="/restaurants/{{request._id}}/edit" class="btn btn-primary">Atender</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}