{% extends './base.html' %} 
{% block title %}
Buscar  restaurante
{% endblock %}
{% block body %}
{% include './nav.html' %}

<div class="container mt-4">
<!--
Center the image
-->
    <div class="d-flex justify-content-center">
        <img src="../static/img/monchi_not_found.png" class="img-fluid align-self-center" alt="Restaurante no encontrado">
    </div>
    <h2 class="text-center">{{restaurant_name}} no encontrado</h2>
    <p class="text-center">Lo sentimos por el momento no tenemos la reseña generada para el restaurante buscado.
        Puedes hacer la solicitud apretando el siguiente botón </p>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-outline-success" type="button" id="solicitar">Solicitar</button>
    </div>
    <div id="name_restaurant" style="display: none;">{{restaurant_name}}</div>
</div>

{% block customJS %}
<script src="../static/js/restaurant_not_found.js"></script>
{% endblock %}

{% endblock %}