{% extends './base.html' %} 
{% block title %}
Monchi
{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="../static/css/restaurant.css">
{% endblock %}

{% block body %}
{% include './nav.html' %}
    <div class="m-4">_</div>
    <div class="container mt-5">
        <div class="row gy-2 gx-5 mt-5">
          <div class="col-8">
            <h1>{{restaurant.name}}</h1>
            <p style="text-align: justify">
              {{restaurant.review}}
            </p>
            <hr>
            Esta reseña fue creada a partir de la información de <span id = "num_reviews"></span> reseñas.      
          </div>
          <div class="col-4">
            <h3><span class="badge bg-danger">Opiniones mas relevantes</span></h3>
            <ul class="list-group list-group-flush">
              {% for relevan_pair  in restaurant.relevant_pairs %}
              <li class="list-group-item">{{relevan_pair}}</li>
              {% endfor %}
            </ul>
          </div>
        </div> 
        <div class="row mt-4"  style="height: max-content;">
          <div class="col-8" id ="chartDiv"> </div>  
          <div class="col-4">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-map-tab-tab" data-bs-toggle="tab" data-bs-target="#nav-map-tab" type="button" role="tab" aria-controls="nav-map-tab" aria-selected="true">Mapa</button>
                  <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Fotos</button>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-map-tab" role="tabpanel" aria-labelledby="nav-map-tab-tab">
                  <div id="map" class="mt-4"></div>  
                  <img src="https://maps.googleapis.com/maps/api/staticmap?center=19.4327103,-99.1963739&zoom=16&size=400x400&key=AIzaSyBcDJUy0pFP_bRlNgfW9f49q6hr1G56rfQ">
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                  <div id="carousel-div" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner" id = "photos_google">
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-div" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-div" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
              </div>
          </div>
            
        </div>
        <div class="row mt-4">
          <div class="col-6" id ="bubblePlot"> </div>
          <div class="col-6" id ="indicatorPlot"> </div>
        </div>
        <div class="row">
      <div class="col-4">
        <div class="list-group overflow-auto" id="reviews-list-tab" role="tablist">
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="reviewsDiv">
        </div>
      </div>
    </div>
    </div>
    <footer id="footer" class="footer mt-5">

      <div class="container">
        <div class="row gy-3">
          
          <div class="col-lg-3 col-md-6 d-flex">
            <i class="bi bi-geo-alt icon"></i>
            <div>
              <h4>Dirección</h4>
              <p>
                Juarez 52 <br>
                San Álvaro, Azcapotzalco, CDMX<br>
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 footer-links d-flex">
            <i class="bi bi-telephone icon"></i>
            <div>
              <h4>Contacto</h4>
              <p>
                <strong>Phone:</strong> 55 6915 6299<br>
                <strong>Email:</strong> monchi@gmail.com<br>
              </p>
            </div>
          </div>
    
        </div>
      </div>
    
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>MONCHI</span></strong>. All Rights Reserved
        </div>
      </div>
    
    </footer><!-- End Footer -->
    <!-- End Footer -->
    
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
    <div id="preloader"></div>

    {% block scripts %}
    <script src="../static/js/index.js"></script>
<script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script>
<script>
    var reviews_triplets = {{reviews_triplets | safe}};
    var id_google = '{{restaurant.id_google}}';
    var id_yelp = '{{restaurant.id_yelp}}';
    var id_trip = '{{restaurant.id_trip}}';
    var x_aspects = {{bubble_data['aspects']['x'] | safe}};
    var y_aspects = {{bubble_data['aspects']['y'] | safe}};
    var size_aspects = {{(bubble_data['aspects']['size'])| safe}};
    var text_aspects = {{bubble_data['aspects']['text'] | safe}};
    var x_opinions = {{bubble_data['opinions']['x'] | safe}};
    var y_opinions = {{bubble_data['opinions']['y'] | safe}};
    var size_opinions = {{(bubble_data['opinions']['size']) | safe}};
    var text_opinions = {{bubble_data['opinions']['text'] | safe}};
    var data = [
      {
        "type": "sunburst",
        "labels": {{labels | safe}},
        "parents": {{parents | safe}},
        "values":  {{values | safe}},
        "leaf": {"opacity": 0.4},
        "marker": {"line": {"width": 2}},
        "branchvalues": 'total'
      }];

      var layout = {
        "margin": {"l": 0, "r": 0, "b": 0},
        "title": "Todos los pares de aspectos y opiniones",
      };


      Plotly.newPlot('chartDiv', data, layout, {showSendToCloud: true})

      myPlot = document.getElementById("chartDiv");

</script>
<script src="../static/js/restaurant.js"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcDJUy0pFP_bRlNgfW9f49q6hr1G56rfQ&libraries=places&callback=initMap">
</script>

{% endblock %}

{% endblock %}  

