{% extends './base.html' %} 
{% block title %}
Monchi
{% endblock %}
{% block body %}
{% include './nav.html' %}
    <div class="container mt-4">
        <div class="row gy-2 gx-5">
          <div class="col-7">
            <h1>{{restaurant.name}}</h1>
            <p style="text-align: justify">
              {{restaurant.review}}
            </p>                
            </div>
          <div class="col-5">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-map-tab-tab" data-bs-toggle="tab" data-bs-target="#nav-map-tab" type="button" role="tab" aria-controls="nav-map-tab" aria-selected="true">Mapa</button>
                  <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Reviews</button>
                  <button class="nav-link" id="nav-charts-tab" data-bs-toggle="tab" data-bs-target="#nav-charts" type="button" role="tab" aria-controls="nav-charts" aria-selected="false">Gráficas</button>
                  <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Fotos</button>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-map-tab" role="tabpanel" aria-labelledby="nav-map-tab-tab">
                  <div id="map" class="mt-4"></div>  
                  <img src="https://maps.googleapis.com/maps/api/staticmap?center=19.4327103,-99.1963739&zoom=16&size=400x400&key=AIzaSyBcDJUy0pFP_bRlNgfW9f49q6hr1G56rfQ">
                </div>
                <div class="tab-pane fade" id="nav-charts" role="tabpanel" aria-labelledby="nav-charts-tab">
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div id="carousel-div" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" id = "photos_google">
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-div" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-div" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
              </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-6">
            <div id="reviews"></div>
          </div>
          <div class="col-6">
            <div id="chartDiv"></div>
          </div>  
        </div>
    </div>

    {% block scripts %}
<script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script>
<script>
    var id_google = '{{restaurant.id_google}}';
    var id_yelp = '{{restaurant.id_yelp}}';
    var data = [
      {
        "type": "sunburst",
        "labels": {{labels | safe}},
        "parents": {{parents | safe}},
        "values":  {{values | safe}},
        "leaf": {"opacity": 0.4},
        "marker": {"line": {"width": 2}},
        "branchvalues": 'total'
      }];

      var layout = {
        "margin": {"l": 0, "r": 0, "b": 0, "t": 0},
      };


      Plotly.newPlot('chartDiv', data, layout, {showSendToCloud: true})

      myPlot = document.getElementById("chartDiv");

</script>
<script src="../static/js/restaurant.js"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcDJUy0pFP_bRlNgfW9f49q6hr1G56rfQ&libraries=places&callback=initMap">
</script>

{% endblock %}

{% endblock %}  

