{% extends './base.html' %} 
{% block title %}
Restaurantes 
{% endblock %}
{% block body %}
{% include './nav.html' %}
<div class="mt-5">_</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <h2>Restaurantes disponibles: {{n_restaurants}}</h2>
            <div class="list-group overflow-auto" role="tablist" style="height: 400px;">
                {% for restaurant in restaurants %}
                <a href="/restaurants/{{restaurant.name}}" class="list-group-item list-group-item-action">{{restaurant.name}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            <div class="image-container" style="background-image: url('../static/img/monchi.png');"></div>
        </div>

    </div>
</div>
{% endblock %}