{% extends './base.html' %} 
{% block title %}
Actualizar Restaurante
{% endblock %}
{% block body %}
{% include './nav.html' %}
<div class="mt-5">_</div>

<div class="container mt-5">
    <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-warning btn-lg" href="/admin/new_restaurant" role="button">Nuevo restaurante</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Ultima actualización</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for restaurant in restaurants %}
            <tr>
                <td>{{restaurant.name}}</td>
                <td>{{restaurant.last_updated}}</td>
                <td>
                    <a href="/admin/update_reviews/{{restaurant._id}}" class="btn btn-success">Actualizar</a>
                    <a href="/admin/delete/{{restaurant.name}}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}